<div class="modal fade" id="modal_confirmacion_qr" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-body text-center">
                <h5>¿Deseas iniciar el ingreso de productos?</h5>
                <p>Estas seguro que deseas iniciar el ingreso de los productos en espera, recuerda que los codigos
                    QR se asignaran y no podran ser cambiados.
                </p>
            </div>
            <div class="modal-footer flex-nowrap p-0">
                <button type="button" id='confirmacion' class="btn btn-lg btn-link link-primary fs-6 text-decoration-none col-6 m-0 rounded-0 border-right border-end " ><strong>Si, Continuar</strong></button>
                <button type="button" class="btn btn-lg btn-link link-secondary fs-6 text-decoration-none col-6 m-0 rounded-0" data-bs-dismiss="modal">No, Cancelar</button>
            </div>
        </div>
    </div>
</div>